<div class class="animate__animated animate__fadeIn animate__faster ">
  <h2>
    Por región <small>{{ regionActiva | titlecase }}</small>
  </h2>
  <hr />
  <h5>Seleccione la region</h5>
  <div class="row">
    <div class="col">
      <button
        *ngFor="let region of regiones"
        [class]="getCSSClass(region)"
        (click)="activarRegion(region)"
      >
        {{ region | titlecase }}
      </button>
    </div>
  </div>

  <div *ngIf="paises.length !== 0" class="row">
    <div class="col">
      <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
  </div>
</div>
